pypdf
pymupdf
supabase
streamlit
pytesseract
python-dotenv
speechify-api
firebase_admin
langchain_groq
chromadb==0.6.3
pysqlite3-binary
langchain_chroma
streamlit_lottie
streamlit_js_eval
langchain_community
streamlit-pdf-viewer
langchain_huggingface
huggingface_hub[hf_xet]
streamlit-authenticator
-e ./component