gtts
pydub
pymupdf
supabase
streamlit
python-dotenv
firebase_admin
langchain_groq
chromadb==0.5.3
langchain_chroma
streamlit_js_eval
langchain_community
streamlit-pdf-viewer
langchain_huggingface
streamlit-authenticator